{{/* default favicon */}}
{{ $favicon := "/images/favicon.png" }}

{{/* if favicon is provided in the config, then use that */}}
{{ if site.Params.logo.favicon }}
  {{ $favicon = site.Params.logo.favicon }}
{{ end }}

{{/* resize the favicon. don't resize svg because it is not supported */}}
{{ $favicon := resources.Get $favicon }}
{{ if and $favicon (ne $favicon.MediaType.SubType "svg") }}
  {{ $favicon = $favicon.Resize "42x" }}
{{ end }}
{{ $favicon = $favicon.RelPermalink}}

{{ $siteDescription := .Site.Params.description }}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<meta name="description" content="{{ $siteDescription }}" />
<!-- Primary Meta Tags -->
<meta name="title" content="{{ .Site.Title }} - FrontEnd Developer's Profile and Portfolio">
<meta name="description" content="Professional FrontEnd Developer from 2016 till now. Build a web, mobile or game. Love technology and build something. Determined to become a good engineer.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Site.BaseURL }}">
<meta property="og:title" content="{{ .Site.Title }} - FrontEnd Developer's Profile and Portfolio ">
<meta property="og:description" content="Professional FrontEnd Developer from 2016 till now. Build a web, mobile or game. Love technology and build something. Determined to become a good engineer.">
<meta property="og:image" content="{{ .Site.BaseURL }}{{"images/screen.png"}}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ site.BaseURL }}">
<meta property="twitter:title" content="{{ .Site.Title }} - FrontEnd Developer's Profile and Portfolio">
<meta property="twitter:description" content="Professional FrontEnd Developer from 2016 till now. Build a web, mobile or game. Love technology and build something. Determined to become a good engineer.">
<meta property="twitter:image" content="{{ .Site.BaseURL }}{{"images/screen.png"}}">

<!-- ============ import common css ========== -->
<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/layouts/main.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/navigators/navbar.css" | relURL }}"/>

<!--=================== cdn ==============================-->
<link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />

<!--================= fab-icon =========================-->
<link rel="icon" type="image/png" href="{{ $favicon }}" />

<!--================= custom style overrides =========================-->
<link rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>
