name: Deploy Github User Pages 

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Setup Hugo
      uses: klakegg/actions-hugo@1.0.0
      with:
        hugo-version: 'latest'

    - name: hugo 
      uses: klakegg/actions-hugo@1.0.0

    # - name: Build
    #   run: hugo --minify

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3.9.3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public

